<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-heading">Pages</li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/fournisseur"> <i class="bi bi-person"></i> <span>Fournisseur</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/laboratoire"> <i class="bi bi-person"></i> <span>Laboratoire</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/famille"> <i class="bi bi-person"></i> <span>Famille</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/facture"> <i class="bi bi-person"></i> <span>Facture</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/produit"> <i class="bi bi-person"></i> <span>Produit</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i> <span>Profile</span> </a></li>
    </ul>
 </aside>
